<h1> Olá index/ controller products </h1>
<h1> </h1>
<h1> Sou a view da ação index do controller Products <h1>
<h1> </h1>
<h1> Faço parte da rota /products</h1>

#Uso das tags <% %> para apresentação de código ruby em view HTML
#Loop de iteração para exibir os componentes da tabela products

<p> <%= link_to 'criar produto', new_product_path %> <p>
<% @products.each do |product| %> 


    <!--Exibindo o campo NAME da tabela products -->
    <p> <%=product.name%> </p>

    <!--Exibindo o campo PRICE da tabela products -->
    <p> <%=product.price%> </p>

    <!--Exibindo o campo quantity da tabela products -->
    <p> <%=product.quantity%> </p>

    <!-- Link para visualização de produtos -->
    <%= link_to 'ver produto', product %> 

    <!-- Link para edição de produtos -->
    <%= link_to 'editar produto', edit_product_path(product) %> 
    
<% end %>